.joke__cards {
    margin: 1.5rem auto;
    padding: 1.5rem;
    max-width: 1180px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 20px;
    font-family: sans-serif;
}

.joke__card { 
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    background: #fafafa;
}

#joke__card__label {
    text-transform: uppercase;
    padding: 15px;
    display: flex;
    background: #fafafa;
    font-size: 0.8rem;
}

.joke__card__content {
    line-height: 1.5;
    font-size: 0.9rem;
    padding: 15px;
    background: #fafafa;
}

.joke__card__content > p:first-of-type {
    margin-top: 0;
}

.joke__card__content > p:last-of-type{
    margin-bottom: 0;
}
/* 
.joke__card__info {
    padding: 15px;
    display: flex;
    /* color: #555555; */
    /* background-color: #fafafa; */
    /* font-size: 0.8rem; */
    /* border-bottom: 2px solid #cccccc; */
    /* text-transform: uppercase; */
    /* float: right; */
/* } */
/* 
.joke__card_info i {
    font-size: 0.9rem;
    margin-right: 8px;
}

.joke__card__link {
    color: #64968c;
    text-decoration: none;
    font-size: 1rem;
    background: #fafafa;
}  */